@font-face {
  font-family: "FreestyleScript";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FreestyleScript/FreestyleScript.ttf) format("truetype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.woff) format("woff"); }

@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.ttf) format("truetype");
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot) format("embedded-opentype");
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.woff) format("woff"); }

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.ttf) format("truetype");
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.eot) format("embedded-opentype");
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.woff) format("woff"); }

@font-face {
  font-family: "OpenSansItalic";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.ttf) format("truetype");
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.eot) format("embedded-opentype");
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.woff) format("woff"); }

@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf) format("truetype");
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.eot) format("embedded-opentype");
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.woff) format("woff"); }

.container {
  width: 1170px;
  margin: 0 auto; }

body {
  font-size: 16px;
  font-family: "OpenSansRegular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #433e3e;
  margin: 0;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  scrollbar-base-color: #5b6ceb;
  scrollbar-arrow-color: #5b6ceb; }
  body::-webkit-scrollbar {
    width: 17px; }
  body::-webkit-scrollbar-thumb {
    background-color: #5b6ceb; }
    body::-webkit-scrollbar-thumb:hover {
      background-color: #2e43e5; }
  body::-webkit-scrollbar-track-piece {
    background-color: transparent; }

p, ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease; }
  .button::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
    left: 0; }
  .button:focus, .button:hover {
    text-decoration: none;
    color: #fff; }
  .button:hover::after {
    opacity: .22; }

input, textarea, select {
  background-color: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 8px 22px;
  outline: none;
  display: block;
  font-size: 16px;
  color: #000;
  margin-top: 10px; }
  input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
    color: blue; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #000;
    opacity: 1; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #000; }
  input option, textarea option, select option {
    color: #000; }

.input_wrap {
  position: relative;
  display: block; }
  .input_wrap i {
    display: none;
    position: absolute;
    top: 15px;
    right: 16px;
    font-size: 14px;
    color: #35be70; }

.callback {
  position: relative; }

.s-call__success {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10; }
  .s-call__success span {
    margin: auto; }
  .s-call__success ~ * {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .s-call__success.active ~ * {
    opacity: .5;
    -webkit-filter: blur(1px);
            filter: blur(1px); }

.hamburger {
  padding: 0; }

.hamburger--collapse .hamburger-inner {
  bottom: -4px; }

html.mm-blocking, html.mm-blocking body {
  overflow: inherit; }

body {
  color: #fff;
  font-family: "OpenSansRegular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.bg {
  min-height: 600px;
  height: 100vh;
  background: url(../img/header_bg.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.main-wrap {
  width: 1000px;
  height: auto;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto; }

.top-section {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.myProgress {
  margin-left: 5px;
  width: 50%;
  background-color: grey; }

.myBar {
  width: 1%;
  height: 30px;
  background-color: green; }

.main-section {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid gray;
  margin-top: 5px;
  border: 1px solid gray; }

.category-section {
  width: 30%;
  min-height: 400px;
  height: auto;
  border-right: 1px solid gray;
  text-align: center;
  border-botoom: 1px solid gray;
  display: block; }
  .category-section span {
    border-bottom: 1px solid gray;
    display: block; }

.category-list {
  width: 70%;
  height: 100%;
  min-height: 400px;
  height: 100%;
  text-align: center;
  border-left: 1px solid gray; }
  .category-list span {
    border-bottom: 1px solid gray;
    display: block; }

.category-section__menu,
.category-section__menu ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.category-section__menu a {
  display: block;
  background-color: #808080;
  text-decoration: none;
  padding: 10px;
  color: #000;
  text-align: left; }

.category-section__menu a:hover {
  background-color: #2c2c2c; }

.category-section__menu li:hover ul {
  display: block;
  max-height: 200px; }

.category-section__menu ul a {
  background-color: #999;
  padding-left: 20px; }

.category-section__menu ul a:hover {
  background-color: #666; }

.category-section__menu ul {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out; }

.category-list__todo {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .category-list__todo li {
    width: 95%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #808080;
    text-decoration: none;
    padding: 10px;
    color: #000;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto; }

.category-list__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.category-list__short-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%; }

.category-list__task-name {
  color: #F3FD00; }

.category-list__task-desc {
  color: #B8BE2F; }

.category-list__control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .category-list__control button {
    background-color: transparent;
    border: none;
    height: 25px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease; }
  .category-list__control button + button {
    margin-top: 6px; }
  .category-list__control .category-list__edit {
    background-color: #F7FE40; }
    .category-list__control .category-list__edit:hover {
      background-color: #b7be01; }
  .category-list__control .category-list__dell {
    background-color: #9EA400; }
    .category-list__control .category-list__dell:hover {
      background-color: #3c3e00; }

.category-list__full-desc textarea {
  resize: vertical;
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 93%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -webkit-transition: height .3s ease;
  -o-transition: height .3s ease;
  transition: height .3s ease; }

.category-list__todo li:hover textarea {
  height: 70px;
  opacity: 1;
  visibility: visible; }

.slider .tooltip.top {
  position: absolute; }

.slider {
  margin-top: 40px; }

body {
  padding-left: 50px; }

.slider .tooltip.top {
  position: absolute; }
