extends ../base
block title
    | Index page

block main
    main#my-content
        section.top-section
            .container
                .row
                    .top-section__title
                        h1
                            span text
                            |  text
                        p text desk
        section.intermediate
            .container
                .row
                    .intermediate_title
                        h3 Заполните форму и мы бесплатно перезвоним и ответим на ваши вопросы
                    .intermediate_wrap
                        form#form-file.clearfix
                            //.file_wrap
                                input(type='file' name='field')
                            .row
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='name', type='text', placeholder='Имя')
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='email', type='text', placeholder='Почта')
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='phone', type='text', placeholder='Телефон')
                                input(type='hidden', name='form_name', value='baseForm')
                                input(type='hidden', name='form_type', value='normal')
                                .intermediate_item
                                    input(type='submit', value='Записаться')
        //section.s-call
            form.callback
                //.success - эфект затемнения
                .s-call__success
                    span Спасибо за заявку

                //название сайта
                input(type='hidden' name='project_name' value='Site Name !')
                //почта админа
                input(type='hidden' name='admin_email' value='slavikov.net@mail.ru')
                //тема письма
                input(type='hidden' name='form_subject' value='Form Subject')
                //с какой страницы
                input(type="hidden" name="Станица" value="")

                .formhead Оставить заявку

                // END Hidden Required Fields
                input(type='text' name='Name' placeholder='You name...' required='')
                input(type='text' name='E-mail' placeholder='You E-mail...' required='')

                input(type='text' name='Phone' placeholder='You phone...' required='')
                select(name="Услуга")
                    option услуга 1
                    option услуга 2
                    option услуга 3
                button Send



