.container
  width: 1170px
  margin: 0 auto

body
  font-size: 16px
  font-family: $OpenSansRegular
  background-color: $bgColor
  margin: 0
  position: relative
  line-height: 1.6
  overflow-x: hidden
  -webkit-tap-highlight-color: transparent
  //внешний вид скроллбара
  scrollbar-base-color: $scroll_barr_color
  scrollbar-arrow-color: $scroll_barr_color
  //внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
  &::-webkit-scrollbar
    width: 17px
  &::-webkit-scrollbar-thumb
    background-color: $scroll_barr_color
    &:hover
      background-color: darken($scroll_barr_color, 10%)
  &::-webkit-scrollbar-track-piece
    background-color: transparent

p,ul
  padding: 0
  margin: 0
li
  list-style: none

.button
  display: inline-block
  border: none
  color: #fff
  text-decoration: none
  padding: 15px 45px
  font-size: 13px
  text-transform: uppercase
  font-weight: 600
  letter-spacing: 3px
  border-radius: 2px
  text-align: center
  position: relative
  outline: none
  transition: background-color .1s ease
  &::after
    transition: background-color .2s ease
    position: absolute
    content: ''
    height: 4px
    bottom: 0
    width: 100%
    //background-color: darken($accent, 50%)
    opacity: .18
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    left: 0
  &:focus, &:hover
    text-decoration: none
    color: #fff
  &:hover
    //background-color: lighten($accent, 5%)
    &::after
      opacity: .22
  &:active
   // background-color: darken($accent, 5%)
    &::after
      opacity: .32

input, textarea, select
  background-color: #fff
  border: 1px solid #000
  border-radius: 5px
  padding: 8px 22px
  outline: none
  display: block
  font-size: 16px
  color: #000
  margin-top: 10px
  //стиль для черточки
  &:focus:required:invalid
    color: blue
  &::-webkit-input-placeholder
    color: #000
  &::-moz-placeholder
    color: #000
    opacity: 1
  &:-ms-input-placeholder
    color: #000
  option
    color: #000

