.header
  width: 100%
  &__nav
    display: inline-block
    position: relative
    ul
      li
        list-style: none
        display: inline-block
        a
          margin-right: 15px
          color: #fff
          text-decoration: none
          transition: .5s
.hamburger
  display: none