@font-face
  font-family: "FreestyleScript"
  font-style: normal
  font-weight: 400
  src: url(../fonts/FreestyleScript/FreestyleScript.ttf) format("truetype")
  src: url(../fonts/FreestyleScript/FreestyleScript.eot) format("embedded-opentype")
  src: url(../fonts/FreestyleScript/FreestyleScript.eot?#iefix) format("embedded-opentype")
  src: url(../fonts/FreestyleScript/FreestyleScript.woff) format("woff")

@font-face
  font-family: "OpenSansRegular"
  font-style: normal
  font-weight: 400
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.ttf) format("truetype")
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot) format("embedded-opentype")
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix) format("embedded-opentype")
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.woff) format("woff")

@font-face
  font-family: "OpenSansBold"
  font-style: normal
  font-weight: 400
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.ttf) format("truetype")
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.eot) format("embedded-opentype")
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix) format("embedded-opentype")
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.woff) format("woff")

@font-face
  font-family: "OpenSansItalic"
  font-style: normal
  font-weight: 400
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.ttf) format("truetype")
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.eot) format("embedded-opentype")
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix) format("embedded-opentype")
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.woff) format("woff")

@font-face
  font-family: "OpenSansSemibold"
  font-style: normal
  font-weight: 400
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf) format("truetype")
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.eot) format("embedded-opentype")
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix) format("embedded-opentype")
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.woff) format("woff")

